/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
  border-bottom: 1px solid #ccc;
  height: 72px;
  position: fixed;
  top: 0;
  z-index: 10;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.115); */
}

.navbar__header {
  padding: 24px;
  border-right: 1px solid #ccc;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
}

.navbar__links {
  display: flex;
  gap: 32px;
}

.navbar__links-center {
  display: flex;
  gap: 64px;
}
.navbar__links-item {
  font-weight: bold;
  font-size: 18px;
}

.navbar__links-right {
  padding: 24px;
  border-left: 1px solid #ccc;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
}

/* content */
.navbar-filler {
  height: 72px;
}
.content {
  /* padding-top: 80px; */
  min-height: calc(100vh - 72px);
}

/* auth */
.auth {
  display: flex;
  height: 100%;
}
.auth__pic img {
  height: 100%;
  object-fit: cover;
}
.auth__form-container {
  width: 67vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.auth__form-title {
  display: flex;
  justify-content: flex-start;
}
.auth__form-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* products */
.products {
  display: flex;
  flex-wrap: wrap;

  gap: 32px;
  padding: 64px;
}

.products__card {
  width: calc(100% / 3 - 22px);
  max-width: 400px;
}

.products__card:hover > .products__card-img {
  transform: scale(1.02);
}

.products__card-img {
  transition: all 0.15s ease-in-out;
  width: 100%;
  aspect-ratio: 1 / 1.15;
  object-fit: cover;
  border-radius: 24px;
  margin-bottom: 24px;
}

.products__card-description {
  margin-bottom: 16px;
}

/* singleProduct */
.product {
  display: flex;
  height: 100%;
  padding: 24px;
}

.product__img {
  width: 50vw;
}

.product__img img {
  object-fit: cover;
  border-radius: 24px;
  width: 90%;
  height: 100%;
}

.product__right {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 36px;
}
.product__details {
  /* list-style-type: none; */
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product__details-top {
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product__details-order {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product__details-quantity {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 8px;
}

/* team */
.about {
  padding: 36px;
  height: 100%;
}
.about__title {
  text-align: center;
  margin-bottom: 24px;
}
.about__container {
  padding: 0 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 64px;
}
.about__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
}
.about__card-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__card img {
  width: 66%;
  aspect-ratio: 1 / 1;
}
.about__card h2 {
  font-size: 24px;
}

/* home */
.home {
  height: calc(100vh - 72px);
  display: flex;
}

.home__img {
  pointer-events: none;
  user-select: none;
}

.home__img-1 {
  flex: 1;
  clip-path: polygon(0 0, 100% 0, 60% 100%, 0 100%);
  margin-right: -15%;
}
.home__img-1 img {
  height: 100%;
  object-fit: cover;
  filter: blur(2px) grayscale(0.2) brightness(0.75);
}
.home__img-2 {
  flex: 1;
  clip-path: polygon(40% 0, 100% 0%, 100% 100%, 0% 100%);
  margin-left: -10%;
}
.home__img-2 img {
  height: 100%;
  object-fit: cover;
  filter: blur(2px) grayscale(0.2);
}
.home__content {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  aspect-ratio: 1.5 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.home__content h1 {
  font-size: 72px;
  line-height: 1;
  font-weight: bold;
  color: white;
  text-align: center;
}

/* cart */
.cart {
  padding: 24px;
  height: 100%;
}
.cart h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}
.cart__products {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0 64px 0 48px;
}
.cart__products-card {
  display: flex;
  gap: 16px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 24px;
}
.cart__products-card img {
  width: 100px;
  aspect-ratio: 1 / 1;
}
.cart__products-card-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cart__products-card-infoL {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart__products-card-infoL h2 {
  font-size: 24px;
  font-weight: bold;
}

.cart__products-card-infoR {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.card-quantity {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.card-quantity h3 {
  font-size: 20px;
  font-weight: bold;
  margin-right: 8px;
}

.cart__total {
  display: flex;
  justify-content: flex-end;
  margin: 16px 64px;
  font-size: 24px;
  font-weight: bold;
}

.cart__checkout {
  display: flex;
  justify-content: flex-end;
  margin: 16px 64px;
}

/* confirmation */
.confirmation {
  padding: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confirmation h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}
