/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
  border-bottom: 1px solid #ccc;
  height: 80px;
  position: fixed;
  z-index: 10;
}

.navbar__header {
  padding: 24px;
  border-right: 1px solid #ccc;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
}

.navbar__links {
  display: flex;
  gap: 32px;
}

.navbar__links-center {
  display: flex;
  gap: 48px;
}
.navbar__links-item {
  font-weight: bold;
  font-size: 18px;
}

.navbar__links-right {
  padding: 24px;
  border-left: 1px solid #ccc;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
}

/* content */
.content {
  padding-top: 80px;
  height: 100vh;
}

/* auth */
.auth {
  display: flex;
  height: 100%;
}
.auth__pic img {
  height: 100%;
  object-fit: cover;
}
.auth__form-container {
  width: 67vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.auth__form-title {
  display: flex;
  justify-content: flex-start;
}
.auth__form-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* products */
.products {
  display: flex;
  flex-wrap: wrap;

  gap: 32px;
  padding: 64px;
}

.products__card {
  width: calc(100% / 3 - 22px);
}

.products__card:hover > .products__card-img {
  transform: scale(1.02);
}

.products__card-img {
  transition: all 0.15s ease-in-out;
  width: 100%;
  aspect-ratio: 1 / 1.5;
  object-fit: cover;
  border-radius: 24px;
  margin-bottom: 24px;
}

.products__card-description {
  margin-bottom: 16px;
}
