.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 16px;
  background-color: aliceblue;
  width: 100%;
}

.navbar__header {
}

.navbar__links {
  display: flex;
  gap: 32px;
}
